/* .color-pallete { */
/*   https://colorhunt.co/palette/180665 */
/*   #F6F578; */
/*   #F6D743; */
/*   #649D66; */
/*   #06623B; */
/* } */

.app {
  
}

body {
  background-color: white;
}

.card {
  background-color: gray;
  border: thin solid;
  display: inline-block;
  width: 200px;
  margin: .5em; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: .2em;
}

.details-top {
  background-color: lightgray;
  border: thin solid;
  /* display: inline-block; */
  /* width: 200px; */
  margin: .5em; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: .2em;
}

.details-top-card {
  background-color: lightgray;
  /* border: thin solid; */
  display: inline-block;
  /* width: 200px; */
  height: 100%;
  margin: .5em; 
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  border-radius: .2em;
}

.image-card {
  background-color: lightgray;
  /* border: thin solid; */
  /* display: inline-block; */
  width: 300px;
  margin: .5em; 
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  border-radius: .2em;
  /* overflow: hidden; */
}

.details-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1px;
}

.details-attribute-cards {
  background-color: lightgray;
  border: thin solid;
  /* display: inline-block; */
  /* width: 200px; */
  /* height: 100px; */
  margin: .5em; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: .2em;
}

.details-section-top {
  font-size: 1em;
  text-align: center;
  padding: .5em;
  ;
}
.details-section-middle {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: .5em;
}

.details-section-bottom {
  font-size: 1em;
  text-align: center;
  padding: .5em;
}

.crop-image {
  width: 100%;
}

.large-image {
  width: 100%;
}

.card-name {
	display: block;
	color: white;
	background-color: gray;
}
